{% extends 'base.html.twig' %}
{% block body %}
 <div class="mx-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xl-6 col-xs-6 col-centered">
                <center>
            {%include('flash-messages.html.twig')%}
            </center>
            </div>
            </div>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-xl-6 col-xs-6 bg-light mx-auto  p-4 my-3">
                    <h5 class="text-dark text-center mb-4">
                        Se connecter avec un email
                    </h5>
                    {% if errors %}
                      <div class="alert alert-danger">
                          {{ errors.messageKey}}
                    {% endif %}
                    <form action="stqff/login" method="POST" class="form mb-4" data-parsley-validate>
                        <input name="email" type="email" class="form-control mb-2" placeholder="Adresse email" required "
                        />
                        <input name="password" type="password" class="form-control mb-2" placeholder="Mot de passe" required
                        />
                        <div class="mb-3">
                            Mot de passe oublié?
                            <a href="/resetMdp" class="text-info">
                                Récupérer votre compte
                            </a>
                        </div>
                        <input type="submit" value="Se connecter" class="btn btn-primary mb-2 mx-auto d-block"/>
                    </form>
                    <h6 class="text-dark text-center border-top pointable pt-2">
                    <span>
                        Vous n'avez pas de compte?
                    </span>
                        <a href="/inscription" class="text-info font-weight-normal">
                            S'inscrire ?
                        </a>
                    </h6>
                </div>
            </section>
        </div>
    </div>

</div>

{% endblock %}
