{% extends 'base.html.twig' %}
{% block body %}

<div class="wrapper --bg-light">

    <div class="mx-2">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-xl-6 col-xs-6 col-md-6 col-centered">
                <center> {%include('flash-messages.html.twig')%} </center>
            </div>
          </div>

            <section class="row">
                <div class="col-lg-6 col-xl-6 col-xs-6 col-md-6 bg-light mx-auto my-3 p-4">
                    <h5 class="text-dark text-center mb-4">
                        Changer le mot de passe
                    </h5>
                    <form action="/passwordUpdate" method="post" class="form mb-3" data-parsley-validate
                          onsubmit="return validateForm();">
                        <input name="pswActuelle" type="password" class="form-control mb-2" required
                               placeholder="Mot de passe actuelle"/>
                        <input id="pswNouv" name="pswNouv" type="password" class="form-control mb-2" onblur="verifmdp()"
                               required placeholder="Nouveau mot de passe"/>
                        <input id="pswNouvC" name="pswNouvConfi" type="password" class="form-control mb-2"
                               onblur="verifmdpMatch()" required placeholder="Retapez le nouveau mot de passe"/>
                        <input type="submit" value="Enregistrer les modifications" class="mb-2 mt-3 btn btn-primary mx-auto d-block"/>
                    </form>
                    <a href="#" class="text-info text-center d-block">
                        Mot de passe oublié?
                    </a>

                </div>
            </section>
        </div>
    </div>

</div>
<script src="{{asset('js/passwordUpdate.js')}}" ></script>

{% endblock %}
