{% extends 'base.html.twig' %}
{% block body %}

<div class="wrapper --bg-light">
    <div class="mx-2">
        <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6 col-xl-6 col-centered">
                  <center>{%include('flash-messages.html.twig')%}  </center>
              </div>
          </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6 col-xl-6 col-centered">
                  <center> {%include('flash-messages.html.twig')%} </center>
              </div>
            </div>

            <section class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-xl-6 bg-light mx-auto my-3 p-4">
                    <h5 class="text-dark text-center mb-4">
                        Paramétres de compte
                    </h5>
                    <a href="/email-update" class="text-secondary d-flex p-2 mb-2 decoration-none">
                        Modifier l'adresse email
                        <img src="img/svg/right-arrow.png" class="ml-auto r-arrow"/>
                    </a>
                    <a href="/passwordUpdate" class="text-secondary d-flex p-2 mb-2 decoration-none">
                        Modifier le mot de passe
                        <img src="img/svg/right-arrow.png" class="ml-auto r-arrow"/>
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}
