        <div>
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table id="myTable">
  <tr class="header">
    <th style="width:60%;">Nom</th>
    <th style="width:40%;">Ufr / Service</th>
    <th style="width:40%;">Post</th>
  </tr>
  {% for s in staff %}
  <tr>
    <td> {s.name}</td>
    <td>{% if(s.ufr!="none")%}
		{{s.ufr}}
        {% endif %}
    </td>
    <td> {{s.job}}</td>
  </tr>
  {% endfor %}
  
</table>
    
</div>
    
