<header>
    <nav class="navbar navbar-expand-lg navbar-dark --bg-primary">
        <a class="navbar-brand" href="/accueil">
            <span class="text-light h5 m-0 logo">
                SOS_Université Paris
            </span>
        </a>

        <!--
        <input id="find_people" type="text" >
        <img src="img/svg/chercher.png"class="pointable" id="people-finder"/>
        -->

        <button class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/settings" class="nav-link text-light">
                        Paramétres
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link text-light">
                        Se déconnecter
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<nav class="navbar navbar-expand navbar-light --bg-light justify-content-center sticky-nav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/accueil" class="nav-link px-3">
                <img src="/img/svg/home.svg" class="home-icon"/>
            </a>
        </li>
        <li class="nav-item">
            <a href="/notification" class="nav-link px-3">
                <img src="/img/svg/notifications-button.svg" class="notification-icon" id="notification-icon"/>
  <!--
                <% if(nb_unseen_notifs > 0) { %>
                    <span class="badge badge-danger">
                        <%= nb_unseen_notifs %>
                    </span>
                <% } else { %>
                    <span class="badge badge-danger"></span>
                <% } %> -->
            </a>
        </li>
        <li class="nav-item">
            <a href="/profile" class="nav-link px-3">
                <img src="/img/svg/user-silhouette.svg" class="user-icon"/>
            </a>
        </li>

        <li class="nav-item">
            <a href="/rendez_vous" class="nav-link px-3">
                <img src="/img/rendez_vous.png" class="user-icon"/>
            </a>
        </li>
    </ul>
</nav>
